<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336178900168-gphveut06gobneqohb881a7oecfnevo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336178900168-gphveut06gobneqohb881a7oecfnevo7</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Iai1ZP45xskgnZoolaTyA0WUNK5RerE</string>
	<key>GCM_SENDER_ID</key>
	<string>336178900168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahmatsusanto.dev.ChatTodo</string>
	<key>PROJECT_ID</key>
	<string>chattodo-8ba2e</string>
	<key>STORAGE_BUCKET</key>
	<string>chattodo-8ba2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336178900168:ios:5434ce753639d560b8c9fd</string>
</dict>
</plist>